
/* Buttons */

.button-round-wine {
	padding: .65rem 1.2rem;
	border-radius: 6rem;
	background-color: var(--red-wine);
	color: #fff;
	font-weight: bold;
	transition: background-color .12s linear;
}

.button-round-wine:hover {
	background-color: #4D1F24;
}

/* Input */

.form-input {
	border-width: 0 0 .18rem 0;
}

/* Dialog */

.home-dialog-product {
	border: none;
	margin: 3rem auto;
	background-color: #fff;
	width: calc(100% - 18rem);
	box-sizing: border-box;
	display: flex;
	padding: 0;
	overflow: hidden;
	animation-name: dialog-product-appear;
	animation-duration: 1s;
}

.home-dialog-product > :nth-child(1) {
	width: 40%;
	background-color: var(--red-wine);
	display: flex;
}

.home-dialog-product > :nth-child(1) > img {
	width: 100%;
	margin: auto;
	padding: 1rem;
}

.home-dialog-product > :nth-child(2) {
	width: 60%;
	height: 100%;
	display: flex;
	padding: 4rem;
	box-sizing: border-box;
}

.home-dialog-product > :nth-child(2) > div {
	margin: auto;
}

.home-dialog-product h1 {
	text-transform: uppercase;
	color: var(--dark-gray-strong);
	margin: 0;
	font-size: 3rem;
}

.home-dialog-product h2 {
	font-size: 1.3rem;
	color: var(--subtitle-gray);
	font-weight: normal;
	text-align: left;
}

.home-dialog-product h3 {
	font-size: .8rem;
	font-weight: normal;
}

@keyframes dialog-product-appear {
	from {
		opacity: 0;
		transform: translateY(10%);
	}
	to {
		opacity: 1;
		transform: translateY(0%);
	}
}

/* Modal */

.modal-base {
	position: fixed;
	overflow: auto;
	transition: transform .2s;
	margin: 0;
	scrollbar-width: thin;
	border: 0;
	box-sizing: border-box;
	box-shadow: 0 0 1.2rem #00000075;
}

.modal-background-base {
	position: fixed;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	background-color: #000;
	transition: background-color .22s ease;
}

.modal-appear-rise-fadein {
	animation-name: dialog-product-appear;
	animation-duration: 1s;
}

.modal-background-fadein {
	animation-name: modal-background-opacity-in;
	animation-duration: 1s;
	animation-fill-mode: forwards;
}

@keyframes modal-background-opacity-in {
	from {
		opacity: 0;
	}
	to {
		opacity: .8;
	}
}
