<!DOCTYPE html>
<html lang='pt'>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Home - Store Express</title>
        <link rel="stylesheet" href="/public/style/theme.css">
		<link rel="icon" type="image/x-icon" href="/public/favicon.ico">
    </head>

    <body>
		<%- include('nav-component') %>

        <article>
            <h1>Store Express</h1>
        </article>

        <article>

        </article>
    </body>
</html>