<!DOCTYPE html>
<html lang='pt'>
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>Home - Adega Wine</title>
		<link rel="stylesheet" href="/assets/style/theme.css">
		<link rel="icon" type="image/x-icon" href="/assets/cart.ico">
	</head>

	<body>
		<%- body %>
	</body>
</html>