
<template data-modal="login-form-modal">
	<article>
		<form class="form-login">
			<header>
				<h1>Login</h1>
			</header>

			<input class="input-login-text" type="text" name='user' placeholder="Username" required>
			<input class="input-login-text" type="password" name='pwd' placeholder="Password" required>

			<div style="margin: .5rem;"></div>

			<button class="button" name="submit">Submit</button>
		</form>
	</article>
</template>
