
<%# The navigation bar of the website #%>

<nav data-label="navbar">
	<div>
		<a href="/">Home</a>
		<a href="/about">About</a>
		<a href="/store">Store</a>
	</div>

	<div>
		<a data-label="b-login-form">Login</a>
	</div>
</nav>
