
<template data-template-name="item-card">
	<div data-item-id="?ItemId?" class="store-item-card">
		<img src="" alt="?ItemAlt?">

		<p>?ItemName?</p>

		<div>
			<button data-button="view" class="button">View</button>
			<button data-button="add" class="button button-wine">
				<i class="fa fa-shopping-cart" aria-hidden="true"></i>
				Add to cart
			</button>
		</div>
	</div>
</template>
