
<%#
The navigation bar of the website.
#%>

<nav>
	<section>
		<label>Home</label>
		<label>About</label>
	</section>

	<section>
		<label for='nav-profile'>Login</label>
		<img id='nav-profile' src="/assets/icons/profile.webp" alt="profile">
	</section>
</nav>

<script type='module' src='/src/navbar.js'></script>
