<%- include('partials/navbar') %>

<section class="home-dialog-product">
	<div>
		<img src="/assets/images/wine-product.webp" alt="wine-display">
	</div>

	<div>
		<div>
			<h2>Try our newest addition</h2>
			<h1>The butcher of blaviken</h1>
			<h3>
				Concocted by the most skilled brew-masters, from the very best of the harvests of Toussaint.
				<b>The Butcher of Blaviken</b> shall verily leave you savouring the
				flavour of a distant land and the sheer exhilaration of hunting
				<b>Garkain</b> in mist-shrouded somber woods.
			</h3>
			<button class="button-round-wine">Buy Now</button>
		</div>
	</div>
</section>

<article>

</article>

<%- include('partials/foot') %>