
@import "classes.css";
@import "buttons.css";
@import "form.css";

.store-item-card {
	background-color: #eee;
	padding: 1rem;
	color: #000;
	display: flex;
	flex-direction: column;
	align-items: center;
	box-sizing: border-box;
	box-shadow: 0 0 1rem #00000017;
	transition: transform 200ms ease, box-shadow 360ms ease;
}

.store-item-card:hover {
	box-shadow: 0 0 1rem #0000004f;
}

.store-item-card > img {
	user-select: none;
	pointer-events: none;
}

.store-item-card > img {
	height: 200px;
}

.store-item-card > p {
	font-weight: bold;
}

.item-card-area {
	display: flex;
	gap: 1rem;
	flex-wrap: wrap;
	justify-content: center;
}
