<!DOCTYPE html>
<html lang='pt'>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title><%= model.title %></title>
        <link rel="stylesheet" href="/style/theme.css">
    </head>

    <body>
        <article>
            <h1><%= model.response %></h1>
        </article>

        <article>
			<h1>Article base</h1>
        </article>
    </body>
</html>